<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Waasa file reflector</h1>

    API:
    <ul>
      <li>/standard/: Filename in URL, in Content-Disposition, and correct Content Type</li>
      <li>/nomime/: Filename in URL, in Content-Disposition, and octet/stream Content Type</li>
      <li>/nomimenofilename/: Filename only in Content-Disposition, octet/stream content type</li>
    </ul>
    
    Project Website: <a href="https://github.com/dobin/waasa-reflector">https://github.com/dobin/waasa-reflector</a> <br>

  </body>
</html>